<f:layout name="Default" />

<f:section name="Title">Sprint View</f:section>
<f:section name="Javascripts">
	<script type="text/javascript" src="<f:uri.resource package='WMDB.Forger' path='js/amcharts/amcharts.js' />"></script>
	<script type="text/javascript" src="<f:uri.resource package='WMDB.Forger' path='js/amcharts/serial.js' />"></script>
	<f:if condition="{ticketCount}">
			<f:format.raw>{ticketCount}</f:format.raw>
	</f:if>
</f:section>

<f:section name="Content">
	<ul class="nav nav-pills">
		<dt>Available Boards</dt>
		<f:for each="{boardMenu}" as="boardNav">
			<f:if condition="{boardNav.active}">
				<f:then>
					<li class="active">
						<f:link.action controller="Sprint" action="Index" arguments="{boardId:boardNav.id}">{boardNav.name}</f:link.action>
					</li>
				</f:then>
				<f:else>
					<li>
						<f:link.action controller="Sprint" action="Index" arguments="{boardId:boardNav.id}">{boardNav.name}</f:link.action>
					</li>
				</f:else>
			</f:if>
		</f:for>
	</ul>
	<h3>Sprint Tasks</h3>
	<f:if condition="{board}">
		<div id="stackedBoardChart" style="height: 80px; width: 100%"></div>
		<table class="table">
			<tr>
				<f:for each="{board}" as="cards" key="metacolname">
					<f:switch expression="{metacolname}">
						<f:case value="Open"><th style="width:20%" class="status_new">{metacolname} (<f:count subject="{cards}" />)</th></f:case>
						<f:case value="WIP"><th style="width:20%" class="status_wip">{metacolname} (<f:count subject="{cards}" />)</th></f:case>
						<f:case value="Review"><th style="width:20%" class="status_review">{metacolname} (<f:count subject="{cards}" />)</th></f:case>
						<f:case value="Done"><th style="width:20%">{metacolname} (<f:count subject="{cards}" />)</th></f:case>
						<f:case value="BLOCKED"><th style="width:20%" class="status_feedback">{metacolname} (<f:count subject="{cards}" />)</th></f:case>
					</f:switch>
				</f:for>
			</tr>
			<tr>
				<f:for each="{board}" as="cards" key="metacolname">
					<td style="width:20%;padding: 0" valign="top">
						<f:for each="{cards}" as="card">
							<f:if condition="{metacolname} == 'Review'">
								<f:then>
									<f:render partial="ReviewCard" arguments="{card: card, coltype: metacolname}" />
								</f:then>
								<f:else>
									<f:render partial="BoardCard" arguments="{card: card, coltype: metacolname}" />
								</f:else>
							</f:if>
						</f:for>
					</td>
				</f:for>
			</tr>
		</table>
		<p>Don't try to drag & drop cards, it's not working and won't be for a <b>looooong</b> time</p>
	</f:if>
	<a href="javascript:;" data-reveal-id="boardconfig" class="button radius tiny">Debug Board Config</a>
	<div id="boardconfig" class="reveal-modal" data-reveal>
		<h2>Board Query</h2>
		<pre>{boardConfig}</pre>
		<a class="close-reveal-modal">&#215;</a>
	</div>

</f:section>
