<f:layout name="Default" />

<f:section name="Title">Sprint List View</f:section>
<f:section name="Javascripts"></f:section>

<f:section name="Content">
    <f:if condition="{board}">
        <f:then></f:then>
        <f:else>
            <div class="alert alert-info" role="alert">
                <strong>No Sprint!</strong> Please select one sprint!
            </div>
        </f:else>
    </f:if>

    <div class="btn-group">
        <f:for each="{boardMenu}" as="boardNav">
            <f:link.action class="btn btn-default {f:if(condition: boardNav.active, then: 'active')}" controller="Sprint" action="List" arguments="{boardId:boardNav.id}">{boardNav.name}</f:link.action>
        </f:for>
    </div>
    <div class="btn-group pull-right">
        <button type="button" data-toggle="modal" data-target="#boardconfig" class="btn btn-info"><i class="fa fa-wrench"></i> Debug Board Config</button>
    </div>

	<h3>Sprint Tasks</h3>
	<f:if condition="{board}">
		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<f:for each="{board}" as="cards" key="metacolname">
						<tr>
							<f:switch expression="{metacolname}">
								<f:case value="Open"><th style="width:20%" class="status_new">{metacolname} (<f:count subject="{cards}" />)</th></f:case>
								<f:case value="WIP"><th style="width:20%" class="status_wip">{metacolname} (<f:count subject="{cards}" />)</th></f:case>
								<f:case value="Review"><th style="width:20%" class="status_review">{metacolname} (<f:count subject="{cards}" />)</th></f:case>
								<f:case value="Done"><th style="width:20%">{metacolname} (<f:count subject="{cards}" />)</th></f:case>
								<f:case value="BLOCKED"><th style="width:20%" class="status_feedback">{metacolname} (<f:count subject="{cards}" />)</th></f:case>
							</f:switch>
						</tr>
						<f:for each="{cards}" as="card">
							<f:if condition="{metacolname} == 'Review'">
								<f:then>
									<tr>
										<td><a href="https://review.typo3.org/#/c/{card.id}/" target="ticketiframe">{card.subject}</a></td>
									</tr>
								</f:then>
								<f:else>
									<tr>
										<td>
											<a href="https://forge.typo3.org/issues/{card.id}" target="ticketiframe">#{card.id}</a> {card.subject}
										</td>
									</tr>
								</f:else>
							</f:if>
						</f:for>
					</f:for>
				</table>
			</div>
		</div>
	</f:if>

	<div id="boardconfig" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Board Query</h4>
				</div>
				<div class="modal-body">
					<pre>{boardConfig}</pre>
				</div>
			</div>
		</div>
	</div>

</f:section>
