<f:layout name="Default" />

<f:section name="Title">Sprint View</f:section>
<f:section name="Javascripts"></f:section>

<f:section name="Content">
	<h3>Board Admin</h3>
	<div class="row">
	    <label for="username">Your Username:</label>
	    <input type="text" id="username" name="" value="" placeholder="Your Username" class="form-control" />
	</div>
	<div class="row">
	    <label for="anschrift">Anschrift:</label>
	    <input type="text" id="anschrift" name="" value="" placeholder="Anschrift" class="form-control" />
	</div>
	<div class="row">
	    <label for="zip">PLZ:</label>
	    <input type="text" id="zip" name="" value="" placeholder="PLZ" class="form-control" />
	</div>
</f:section>