<f:layout name="Default" />

<f:section name="Title">Dashboard</f:section>
<f:section name="Javascripts">
	<script type="text/javascript" src="<f:uri.resource package='WMDB.Forger' path='foundation-5.4.7/js/foundation/foundation.abide.js' />"></script>
</f:section>

<f:section name="Content">
<f:form action="sendInvite" additionalAttributes="{data-abide:true}">
	<div class="row">
		<div class="small-12 medium-6 column">
			<div class="row">
				<img src="<f:uri.resource package='WMDB.Forger' path='images/slack-logo.jpg' />" />
			</div>
			<div class="row">
				<label for="email">Email: <small>required</small>
					<input type="email" required="required" id="email" name="email" value="" placeholder="Email" class="form-control" />
					<small class="error">A valid Email-address is required.</small>
				</label>
			</div>
			<div class="row">
				<label for="firstName">FirstName: <small>required</small>
					<input type="text" id="firstName" name="firstName" required pattern="[a-zA-Z]+" value="" placeholder="FirstName" class="form-control" />
					<small class="error">Please supply your first name.</small>
				</label>
			</div>
			<div class="row">
				<label for="lastName">LastName: <small>required</small>
					<input type="text" id="lastName" name="lastName" required pattern="[a-zA-Z]+" value="" placeholder="LastName" class="form-control" />
					<small class="error">Please supply your last name.</small>
				</label>
			</div>
			<f:form.submit value="send request" class="button radius tiny success"  />
		</div>
	</div>
</f:form>
</f:section>
