{namespace wmdb=WMDB\Forger\ViewHelpers}
<table>
	<tr>
		<td>
			<f:switch expression="{card.tracker.name}">
				<f:case value="Bug"><span class="label alert radius">BUG</span></f:case>
				<f:case value="Feature"><span class="label success radius">FEATURE</span></f:case>
				<f:case value="Task"><span class="label radius">TASK</span></f:case>
				<f:defaultCase><span class="label secondary radius">{card.tracker.name}</span> </f:defaultCase>
			</f:switch>
			<f:switch expression="{card.status.name}">
				<f:case value="New"><span class="label radius status_new">{card.status.name}</span></f:case>
				<f:case value="Accepted"><span class="label radius status_accepted">{card.status.name}</span></f:case>
				<f:case value="Under Review"><span class="label radius status_review">{card.status.name}</span></f:case>
				<f:case value="On Hold"><span class="label radius status_onhold">{card.status.name}</span></f:case>
				<f:case value="Needs Feedback"><span class="label radius status_feedback">{card.status.name}</span></f:case>
				<f:case value="In Progress"><span class="label radius status_wip">{card.status.name}</span></f:case>
				<f:case value="Rejected"><span class="label alert radius">{card.status.name}</span></f:case>
				<f:defaultCase><span class="label secondary radius">{card.status.name}</span> </f:defaultCase>
			</f:switch>
			<a href="https://forge.typo3.org/issues/{card.id}" target="_blank">#{card.id}</a>
			<f:for each="{card.custom_fields}" as="customfield">
				<f:if condition="{customfield.name} == 'Complexity'">
					<f:switch expression="{customfield.value}">
						<f:case value="easy"><span class="label radius success right">{customfield.value}</span></f:case>
						<f:case value="no-brainer"><span class="label radius success right">{customfield.value}</span></f:case>
						<f:case value="medium"><span class="label radius status_accepted right">{customfield.value}</span></f:case>
						<f:case value="hard"><span class="label radius status_new right">{customfield.value}</span></f:case>
						<f:case value="nightmare"><span class="label radius alert right">{customfield.value}</span></f:case>
						<f:defaultCase></f:defaultCase>
					</f:switch>
				</f:if>
			</f:for>
		</td>
	</tr>
	<tr>
		<td>{card.subject}</td>
	</tr>
</table>
