<ul class="nav navbar-nav">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Gerrit <span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><f:link.action controller="gerrit" action="status">All</f:link.action></li>
			<li><f:link.action controller="gerrit" action="mergeReady">Has verifications</f:link.action></li>
			<li><f:link.action controller="gerrit" action="missesVerification">Needs Verification</f:link.action></li>
			<li><f:link.action controller="gerrit" action="missesReview">Needs Review</f:link.action></li>
			<li><f:link.action controller="gerrit" action="rebase">Rebase necessary</f:link.action></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sprints <span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><f:link.action controller="sprint" action="index">Sprint Boards</f:link.action></li>
			<li><f:link.action controller="sprint" action="list">Sprint Lists</f:link.action></li>
			<li><f:link.action controller="management" action="index">Issue Management</f:link.action></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Utility <span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><f:link.action controller="standard" action="rst">ReST Helper</f:link.action></li>
			<li><f:link.action controller="standard" action="calendar">Team Calendar</f:link.action></li>
			<li><f:link.action controller="slack" action="index">Slack Invite</f:link.action></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Help <span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><f:link.action controller="standard" action="help">Graphs</f:link.action></li>
		</ul>
	</li>
</ul>

<f:form action="search" controller="standard" method="get" class="navbar-form navbar-right">
	<div class="form-group">
		<div class="input-group">
			<f:form.textfield name="query" placeholder="Issue ID or Searchwords" class="form-control" value="" />
			<span class="input-group-btn">
				<input type="submit" class="btn btn-success" value="Go">
			</span>
		</div>
	</div>
</f:form>