<li><label>Forge</label></li>
<li><f:link.action controller="standard" action="index">Dashboard</f:link.action></li>
<li><label>Gerrit</label></li>
<li><f:link.action controller="gerrit" action="status">All</f:link.action></li>
<li><f:link.action controller="gerrit" action="mergeReady">Has verifications</f:link.action></li>
<li><f:link.action controller="gerrit" action="missesVerification">Needs Verification</f:link.action></li>
<li><f:link.action controller="gerrit" action="missesReview">Needs Review</f:link.action></li>
<li><f:link.action controller="gerrit" action="rebase">Rebase necessary</f:link.action></li>
<li><label>Management</label></li>
<li><f:link.action controller="management" action="index">Issue Management</f:link.action></li>
<li><f:link.action controller="sprint" action="index">Sprint Boards</f:link.action></li>
<li><label>Utility</label></li>
<li><f:link.action controller="standard" action="rst">ReST Helper</f:link.action></li>
<li><label>Help</label></li>
<li><a href="javascript:;" data-reveal-id="helpModal">Search</a></li>
<li><f:link.action controller="standard" action="help">Graphs</f:link.action></li>