<tr>
	<th>{review._source.subject}</th>
</tr>
<tr>
	<td>
		<table class="table table-bordered table-striped">
			<tr>
				<td>Topic</td>
				<td><span class="label label-default">{review._source.topic}</span></td>
				<td>Target Release</td>
				<td colspan="3">
					<f:for each="{review._source.releases}" as="release">
						<f:switch expression="{release}">
							<f:case value="master"><span class="label label-primary">master</span></f:case>
							<f:case value="6.2"><span class="label label-info">{release}</span></f:case>
							<f:case value="4.5"><span class="label label-info">{release}</span></f:case>
							<f:defaultCase><span class="label label-danger">{release}</span></f:defaultCase>
						</f:switch>
					</f:for>
				</td>
			</tr>
			<tr>
				<td>Affected Files:</td>
				<td colspan="2"><span class="label label-default">{review._source.affected_files}</span></td>
				<td>Patchsets: </td>
				<td colspan="2"><span class="label label-default">{review._source.patchsets}</span></td>
			</tr>
			<tr>
				<td>Created:</td>
				<td colspan="2"><strong><time is="time-ago" datetime="{review._source.created_on->f:format.date(format: 'c')}">{issue.hit._source.created_on}</time></strong></td>
				<td>Updated:</td>
				<td colspan="2"><strong><time is="time-ago" datetime="{review._source.updated_on->f:format.date(format: 'c')}">{issue.hit._source.updated_on}</time></strong></td>
			</tr>
			<tr>
				<td>Reviews</td>
				<td>Verifies</td>
				<td colspan="4">
					<f:if condition="{0: review._source.mergeable} == {0: 'no'}">
						<span class="label label-danger">CODE CANNOT BE MERGED</span>
					</f:if>
				</td>
			</tr>
			<tr>
				<td>
					<f:if condition="{review._source.positive_reviews}">
						<span class="label label-success">{review._source.positive_reviews}</span>
					</f:if>
					<f:if condition="{review._source.negative_reviews}">
						<span class="label label-danger">{review._source.negative_reviews}</span>
					</f:if>
				</td>
				<td>
					<f:if condition="{review._source.positive_verifications}">
						<span class="label label-success">{review._source.positive_verifications}</span>
					</f:if>
					<f:if condition="{review._source.negative_verifications}">
						<span class="label label-danger">{review._source.negative_verifications}</span>
					</f:if>
				</td>
				<td colspan="4"><a href="https://review.typo3.org/#/c/{review._source.id}/" target="forger"><span class="btn btn-info btn-sm">Open in Gerrit</span></a></td>
			</tr>
		</table>
	</td>
</tr>
