<table class="table table-bordered table-striped table-review">
    <caption>{review._source.subject}</caption>
    <tr>
        <td class="col-md-3">Topic</td>
        <td class="col-md-3"><span class="label label-default">{review._source.topic}</span></td>
        <td class="col-md-3">Target Release</td>
        <td class="col-md-3">
            <f:for each="{review._source.releases}" as="release">
                <f:switch expression="{release}">
                    <f:case value="master"><span class="label label-primary">master</span></f:case>
                    <f:case value="6.2"><span class="label label-info">{release}</span></f:case>
                    <f:case value="4.5"><span class="label label-info">{release}</span></f:case>
                    <f:defaultCase><span class="label label-danger">{release}</span></f:defaultCase>
                </f:switch>
            </f:for>
        </td>
    </tr>
    <tr>
        <td class="col-md-3">Affected Files:</td>
        <td class="col-md-3"><span class="label label-default">{review._source.affected_files}</span></td>
        <td class="col-md-3">Patchsets: </td>
        <td class="col-md-3"><span class="label label-default">{review._source.patchsets}</span></td>
    </tr>
    <tr>
        <td class="col-md-3">Created:</td>
        <td class="col-md-3"><strong><time is="time-ago" datetime="{review._source.created_on->f:format.date(format: 'c')}">{issue.hit._source.created_on}</time></strong></td>
        <td class="col-md-3">Updated:</td>
        <td class="col-md-3"><strong><time is="time-ago" datetime="{review._source.updated_on->f:format.date(format: 'c')}">{issue.hit._source.updated_on}</time></strong></td>
    </tr>
    <tr>
        <td class="col-md-3">
            Reviews
            <f:if condition="{review._source.positive_reviews}">
                <span class="label label-success pull-right">{review._source.positive_reviews}</span>
            </f:if>
            <f:if condition="{review._source.negative_reviews}">
                <span class="label label-danger pull-right">{review._source.negative_reviews}</span>
            </f:if>
        </td>
        <td class="col-md-3">
            Verifies
            <f:if condition="{review._source.positive_verifications}">
                <span class="label label-success pull-right">{review._source.positive_verifications}</span>
            </f:if>
            <f:if condition="{review._source.negative_verifications}">
                <span class="label label-danger pull-right">{review._source.negative_verifications}</span>
            </f:if>
        </td>
        <td class="col-md-3">
            <f:if condition="{0: review._source.mergeable} == {0: 'no'}">
                <span class="label label-danger">CODE CANNOT BE MERGED</span>
            </f:if>
        </td>
        <td class="col-md-3"><a href="https://review.typo3.org/#/c/{review._source.id}/" target="forger"><span class="btn btn-info btn-sm"><i class="fa fa-external-link"></i> Open in Gerrit</span></a></td>
    </tr>
</table>