{namespace wmdb=WMDB\Forger\ViewHelpers}
<table>
	<tr>
		<td colspan="4"><a href="https://review.typo3.org/#/c/{card.id}/" target="_blank">{card.subject}</a></td>
	</tr>
	<tr>
		<td colspan="4">By <strong>{card.owner}</strong></a> <span class="right"> added <strong><time is="time-ago" datetime="{card.updated_on}">{issue.hit._source.updated_on}</time></strong></span></td>
	</tr>
	<tr>
		<td>Affected Files:</td>
		<td><span class="label radius">{card.affected_files}</span></td>
		<td>Patchsets: </td>
		<td><span class="label radius">{card.patchsets}</span></td>
	</tr>
	<tr>
		<td>Review
			<f:if condition="{card.positive_reviews}">
				<span class="label success radius">{card.positive_reviews}</span>
			</f:if>
			<f:if condition="{card.negative_reviews}">
				<span class="label alert radius">{card.negative_reviews}</span>
			</f:if>
		</td>
		<td>Verify
			<f:if condition="{card.positive_verifications}">
				<span class="label success radius">{card.positive_verifications}</span>
			</f:if>
			<f:if condition="{card.negative_verifications}">
				<span class="label alert radius">{card.negative_verifications}</span>
			</f:if>
		</td>
		<td colspan="2">
			<f:if condition="{0: card.mergeable} == {0: 'no'}">
				<span class="label radius alert">CAN'T MERGE</span>
			</f:if>
		</td>
	</tr>
</table>

