<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>[{context}] <f:render section="Title" /> :: Forger</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="<f:uri.resource package='WMDB.Forger' path='css/WMDB.Forger.css' />" />

		<f:base />
	</head>
	<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">TYPO3 CMS FORGER :: <f:render section="Title" /></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<f:render partial="Menu" />
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="col-sm-12">
			<f:flashMessages class="flashmessages" />
		</div>
	</div>
	<div class="container-fluid">
		<f:render section="Content" />
	</div>
	<div class="container">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">
					Found a bug? Got a feature you want in? <a href="https://github.com/wmdbsystems/WMDB.Forger" target="_blank">Tell us on GitHub</a>
				</div>
			</div>
		</div>
	</div>
	<!--Proudly coded by-->
						<!--<a href="http://www.wmdb.de" target="_blank">-->
							<!--<img src="<f:uri.resource package='WMDB.Forger' path='images/logo_wmdb.png' />" alt="wmdb Systems - TYPO3, Consulting, Mobile Solutions and Coaching from Düsseldorf, Germany" title="wmdb Systems - TYPO3, Consulting, Mobile Solutions and Coaching from Düsseldorf, Germany">-->
						<!--</a>-->
						<!--and hosted insanely fast by-->
						<!--<a href="http://www.network-publishing.de/">-->
							<!--<img src="<f:uri.resource package='WMDB.Forger' path='images/logo_network.publishing.png' />" alt="network.publishing - TYPO3, Webdesign and Hosting from Cologne, Germany" title="network.publishing - TYPO3, Webdesign and Hosting from Cologne, Germany">-->
						<!--</a>-->
	<script type="application/javascript" src="<f:uri.resource package='WMDB.Forger' path='js/WMDB.Forger.min.js' />"></script>
	<script type="application/javascript" src="<f:uri.resource package='WMDB.Forger' path='js/register-element.js' />"></script>
	<script type="application/javascript" src="<f:uri.resource package='WMDB.Forger' path='js/time-elements.js' />"></script>
	<f:render section="Javascripts" />
	<script type="application/javascript">
	</script>
	<f:if condition="{0:context} == {0:'PRD'}">
	<!-- Piwik -->
	<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="//analytics.wmdb.de/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', 7]);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<noscript><p><img src="//analytics.wmdb.de/piwik.php?idsite=7" style="border:0;" alt="" /></p></noscript>
	<!-- End Piwik Code -->
	</f:if>
	</body>
</html>