@brand-primary: #FF8700;

@panel-danger-text: #fff;
@panel-danger-heading-bg: #cc092f;
@panel-danger-border: darken(@panel-danger-heading-bg, 10%);
@panel-warning-heading-bg: #f8ac59;
@panel-warning-border: darken(@panel-warning-heading-bg, 10%);

@panel-border-radius: 2px;

@board-background-color: #f0f0f0;
@card-background-color: #fff;
@card-border-color: #999;

@status-new-color: #AE4A32;
@status-accepted-color: #D1C4B1;
@status-review-color: #8DB173;
@status-onhold-color: #F38725;
@status-feedback-color: #F38725;
@status-wip-color: #62C0DC;
@status-done-color: #696969;

@state-notice-bg: lighten(#696969, 30%);
@state-notice-border: #696969;

//== Callouts
//
//## Define callouts colors, border radius, and padding.

@callout-padding:             10px;
@callout-color:               #333;
@callout-icon-color:          #333;
@callout-bg:                  #f0f0f0;
@callout-border:              #ccc;
@callout-border-radius:       2px;

@callout-success-bg:          @state-success-bg;
@callout-success-color:       @callout-color;
@callout-success-icon-color:  @callout-icon-color;
@callout-success-border:      @state-success-border;

@callout-info-bg:             @state-info-bg;
@callout-info-color:          @callout-color;
@callout-info-icon-color:     @callout-icon-color;
@callout-info-border:         @state-info-border;

@callout-warning-bg:          @state-warning-bg;
@callout-warning-color:       @callout-color;
@callout-warning-icon-color:  @callout-icon-color;
@callout-warning-border:      @state-warning-border;

@callout-danger-bg:           @state-danger-bg;
@callout-danger-color:        @callout-color;
@callout-danger-icon-color:   @callout-icon-color;
@callout-danger-border:       @state-danger-border;

@callout-notice-bg:           @state-notice-bg;
@callout-notice-color:        @callout-color;
@callout-notice-icon-color:   @callout-icon-color;
@callout-notice-border:       @state-notice-border;
