@brand-primary: #FF8700;

@panel-danger-text: #fff;
@panel-danger-heading-bg: #cc092f;
@panel-danger-border: darken(@panel-danger-heading-bg, 10%);
@panel-warning-heading-bg: #f8ac59;
@panel-warning-border: darken(@panel-warning-heading-bg, 10%);

@panel-border-radius: 2px;

@board-background-color: #f0f0f0;
@card-background-color: #fff;
@card-border-color: #999;

@status-new-color: #AE4A32;
@status-accepted-color: #D1C4B1;
@status-review-color: #8DB173;
@status-onhold-color: #F38725;
@status-feedback-color: #F38725;
@status-wip-color: #62C0DC;
@status-done-color: #696969;