{namespace wmdb=WMDB\Forger\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">Management View</f:section>
<f:section name="Javascripts"></f:section>

<f:section name="Content">

	<h3>Issue Management View</h3>
	<f:for each="{aggs}" as="year">
		<h4>{year.year} ({year.total})</h4>
		<table>
			<tr>
				<f:for each="{year.months}" as="month">
					<th>
						{month.month}
						<span class="label secondary radius"><wmdb:forgelink linkText="Show Issues ({month.total})" year="{year.year}" month="{month.month}" /></span>
					</th>
				</f:for>
			</tr>
			<tr>
				<f:for each="{year.months}" as="month">
					<td valign="top">
						<f:for each="{month.stati}" as="status">
							<f:switch expression="{status.name}">
								<f:case value="New"><span class="label radius status_new"><wmdb:forgelink linkText="<b>{status.total}</b> {status.name}" year="{year.year}" month="{month.month}" statusId="1" /></span></f:case>
								<f:case value="Accepted"><span class="label radius status_accepted"><wmdb:forgelink linkText="<b>{status.total}</b> {status.name}" year="{year.year}" month="{month.month}" statusId="2" /></span></span></f:case>
								<f:case value="Under Review"><span class="label radius status_review"><wmdb:forgelink linkText="<b>{status.total}</b> {status.name}" year="{year.year}" month="{month.month}" statusId="8" /></span></span></f:case>
								<f:case value="On Hold"><span class="label radius status_onhold"><wmdb:forgelink linkText="<b>{status.total}</b> {status.name}" year="{year.year}" month="{month.month}" statusId="7" /></span></span></f:case>
								<f:case value="Needs Feedback"><span class="label radius status_feedback"><wmdb:forgelink linkText="<b>{status.total}</b> {status.name}" year="{year.year}" month="{month.month}" statusId="4" /></span></span></f:case>
								<f:case value="In Progress"><span class="label radius status_wip"><wmdb:forgelink linkText="<b>{status.total}</b> {status.name}" year="{year.year}" month="{month.month}" statusId="11" /></span></span></f:case>
								<f:defaultCase><span class="label radius"><b>{status.total}</b> {status.name}</span> </f:defaultCase>
							</f:switch><br>
						</f:for>
					</td>
				</f:for>
			</tr>
		</table>
	</f:for>
</f:section>
<f:comment>
	<option value="1" selected="selected">New</option>
	<option value="2">Accepted</option>
	<option value="4">Needs Feedback</option>
	<option value="7">On Hold</option>
	<option value="8">Under Review</option>
	<option value="3">Resolved</option>
	<option value="10">Ready for Deployment</option>
	<option value="5">Closed</option>
	<option value="6">Rejected</option>
	<option value="9">Postponed</option></select>
</f:comment>
