{namespace wmdb=WMDB\Forger\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">Create ReST file</f:section>
<f:section name="Javascripts">
	<script type="text/javascript" src="<f:uri.resource package='WMDB.Forger' path='js/sprintf.min.js' />"></script>
	<script type="text/javascript" src="<f:uri.resource package='WMDB.Forger' path='js/WMDB.Forger.Rst.js' />"></script>
</f:section>

<f:section name="Content">
	<span id="beta-blocker" class="label label-warning pull-right" data-toggle="tooltip" data-placement="left" title="It's beta than nothing.">&beta;</span>

	<div class="clearfix"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<form class="form-horizontal">
					<div class="btn-group btn-group-justified js-changetypes" role="group">
						<div class="btn-group"><button type="button" value="breaking" class="btn btn-danger">Breaking</button></div>
						<div class="btn-group"><button type="button" value="deprecation" class="btn btn-warning">Deprecation</button></div>
						<div class="btn-group"><button type="button" value="feature" class="btn btn-success">Feature</button></div>
					</div>
					<hr>
					<div class="form-group">
						<div class="col-sm-3">
							<div class="input-group">
								<input type="text" class="form-control" id="ticketid" placeholder="Ticket ID">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" data-action="load-ticket"><span class="glyphicon glyphicon-search"></span></button>
							</span>
							</div>
						</div>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="title" placeholder="Title">
						</div>
					</div>
					<div class="form-group" data-tickettypes="breaking deprecation feature">
						<label for="description" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="5" id="description" title="Description"></textarea>
						</div>
					</div>
					<div class="form-group" data-tickettypes="breaking deprecation feature">
						<label for="impact" class="col-sm-2 control-label">Impact</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="5" id="impact" title="Impact"></textarea>
						</div>
					</div>
					<div class="form-group hidden" data-tickettypes="breaking deprecation">
						<label for="affected" class="col-sm-2 control-label">Affected Installations</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="5" id="affected" title="Affected Installations"></textarea>
						</div>
					</div>
					<div class="form-group hidden" data-tickettypes="breaking deprecation">
						<label for="migration" class="col-sm-2 control-label">Migration</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="5" id="migration" title="Migration"></textarea>
						</div>
					</div>
					<input id="generate" type="button" class="btn btn-block btn-success hidden" value="Create ReST manual">
				</form>
			</div>
			<div class="col-md-4">
				<img src="<f:uri.resource package='WMDB.Forger' path='images/memes/{memeImage}' />" alt="Random ReST meme, because we are cool!" class="img-responsive">

				<h2>Code snippets</h2>

				<div class="panel-group" id="codesnippets" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="codeblockHeader">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#codesnippets" href="#codeblock" aria-expanded="true"
								   aria-controls="codeblock">Code Block</a>
							</h4>
						</div>
						<div id="codeblock" class="panel-collapse collapse" role="tabpanel"
						     aria-labelledby="codeblockHeader">
							<div class="panel-body">
							<pre><button data-action="paste-code" class="btn btn-sm btn-default pull-right"><span
									class="glyphicon glyphicon-paperclip"></span></button>&#13;&#10;.. code-block:: [php|html|typoscript|javascript]&#13;&#10;&#13;&#10;&#9;Your code indented by a tab.&#13;&#10;&#13;&#10;</pre>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="inlinecodeHeader">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#codesnippets" href="#inlinecode"
								   aria-expanded="true" aria-controls="inlinecode">Inline Code</a>
							</h4>
						</div>
						<div id="inlinecode" class="panel-collapse collapse" role="tabpanel"
						     aria-labelledby="inlinecodeHeader">
							<div class="panel-body">
							<pre><button data-action="paste-code" class="btn btn-sm btn-default pull-right"><span
									class="glyphicon glyphicon-paperclip"></span></button>``Your code wrapped in ticks.``</pre>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="linksHeader">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#codesnippets" href="#links" aria-expanded="true"
								   aria-controls="links">Links</a>
							</h4>
						</div>
						<div id="links" class="panel-collapse collapse" role="tabpanel" aria-labelledby="linksHeader">
							<div class="panel-body">
							<pre><button data-action="paste-code" class="btn btn-sm btn-default pull-right"><span
									class="glyphicon glyphicon-paperclip"></span></button>Some linked_ text&#13;&#10;&#13;&#10;.. _linked: http://typo3.org</pre>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<textarea class="form-control" rows="20" style="font-family:monospace;" readonly></textarea>
				</div>
			</div>
		</div>
	</div>
</f:section>
