{namespace wmdb=WMDB\Forger\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">Search Forge</f:section>
<f:section name="Javascripts"></f:section>

<f:section name="Content">
    <form action="/standard/search" method="get" class="">
    <div class="row">
        <div class="col-sm-12">
            <f:render partial="SearchBox" arguments="{query: query, searchClosed:searchClosed}" />
        </div>
        <f:if condition="{0: mode} == {0: 'query'}">
            <f:then>
                <div class="col-sm-3">
                    <h4>Aggregations</h4>
	                <button type="submit" class="btn btn-success"><i class="fa fa-filter"></i> Filter</button>
                    <f:render partial="Accordion" arguments="{aggregations: result.aggs}" />
	                <button type="submit" class="btn btn-success"><i class="fa fa-filter"></i> Filter</button>
                </div>
                <div class="col-sm-9">
                    <h4>Showing hits <strong>{result.startingAtItem} </strong>to <strong>{result.endingAtItem}</strong> of <strong>{result.totalResults}</strong></h4>
                    <f:if condition="{result.results}">
                        <f:render section="paginator" arguments="{_all}" />
                    </f:if>
                    <f:for each="{result.results}" as="results">
                        <f:render partial="Issue" arguments="{issue: results}" />
                    </f:for>
                    <f:if condition="{result.results}">
                        <f:render section="paginator" arguments="{_all}" />
                    </f:if>
                </div>
            </f:then>
            <f:else>
                <div class="col-sm-3">
                    <f:render partial="Issue" arguments="{issue: issue}" />
                </div>
                <div class="col-sm-9">
                    <h4>{result.totalResults} dupes?</h4>
                    <f:for each="{result.results}" as="results">
                        <f:render partial="Issue" arguments="{issue: results}" />
                    </f:for>
                </div>
            </f:else>
        </f:if>
    </div>
	</form>
</f:section>

<f:section name="paginator">
    <ul class="pagination">
        <f:for each="{result.pagesToLinkTo}" as="page" key="pageDesc">
            <f:if condition="{result.currentPage} == {page}">
                <f:then>
                    <li class="active"><f:link.action action="search" controller="standard" arguments="{query: query, page: page, filters: filters}">{page}</f:link.action></li>
                </f:then>
                <f:else>
                    <li><f:link.action action="search" controller="standard" arguments="{query: query, page: page, filters: filters}">{page}</f:link.action></li>
                </f:else>
            </f:if>
        </f:for>
    </ul>
</f:section>